# Project Part D: Regression

![](banner_project.jpg)

In [1]:
analyst = "Firstname Lastname" # Replace this with your name

In [2]:
f = "setup.R"; for (i in 1:10) { if (file.exists(f)) break else f = paste0("../", f) }; source(f)
options(repr.matrix.max.rows=674)
options(repr.matrix.max.cols=200)
update_geom_defaults("point", list(size=1))

## Directions

### Objective

Construct and evaluate a regressor trained on a transformed dataset about public company fundamentals.  Later, use the regressor along with additional analysis to recommend a portfolio of 12 company investments that maximizes 12-month return of an overall \$1,000,000 investment.

### Approach

Retrieve a transformed dataset.

Construct a model to predict how much stock price will grow over 12 months, given 12 months of past company fundamentals data, and using a machine learning model construction method and transformed data.

Evaluate the model's business performance based on a business model and business parameters.

## Business Model

The business model is ...

$ \begin{align} profit = \left( \sum_{i \in portfolio} (1 + growth_i) \times allocation_i \right) - budget \end{align} $

<br>

$ profit\,rate = profit \div budget $


$ \begin{align} budget = \sum_{i \in portfolio} allocation_i \end{align} $

<br>

Business model parameters include ...

* Budget = \\$1,000,000: total investment to allocate across the companies in the portfolio
* Portfolio Size = 12: number of companies in the portfolio
* Allocations = \\$1,000,000 $\div$ 12 to each company: investments to allocate to specific companies in the portfolio 

Fill the portfolio with companies that have the highest predicted growths.

In [3]:
# Set the business parameters.

budget = 1000000
portfolio_size = 12
allocation = rep(budget/portfolio_size, portfolio_size)

layout(fmt(budget), fmt(portfolio_size), fmt(allocation))

budget
1000000
portfolio_size
12
allocation
83333.33
83333.33
83333.33
83333.33
83333.33
83333.33
83333.33
83333.33
83333.33
83333.33
83333.33
83333.33

## Data

_<< Discuss this data retrieval. >>_

In [4]:
# Retrieve "My Data.csv"

# Present a few rows ...

  gvkey tic  conm                         PC1         PC2        prccq
1 1004  AIR  AAR CORP                       3.4371231 -0.2260719 43.69
2 1045  AAL  AMERICAN AIRLINES GROUP INC  -12.0332067  0.8045109 32.11
3 1050  CECE CECO ENVIRONMENTAL CORP        3.9532234 -0.7553386  6.75
4 1062  ASA  ASA GOLD AND PRECIOUS METALS   3.6561434 -0.7981915  8.66
5 1072  AVX  AVX CORP                       2.9282228 -0.7104200 15.25
6 1075  PNW  PINNACLE WEST CAPITAL CORP     0.3488491  1.1389605 85.20
  growth        big_growth
1  0.0507455507 NO
2 -0.3828560446 NO
3  0.3157894737 YES
4 -0.2164739518 NO
5 -0.1184971098 NO
6  0.0002347969 NO

## Regression Model

_<< Discuss this model construction and evaluation. >>_

### Build Model

In [5]:
# Construct a linear regression model to predict growth given PC1 and PC2.
# Present a brief summary of the model parameters.

Call:
lm(formula = growth ~ PC1 + PC2, data = data)

Coefficients:
(Intercept)          PC1          PC2
 -0.1185887    0.0002455    0.0006294

### In-Sample Estimated Performance

In [6]:
# Present the model's in-sample estimated RMSE, profit, and profit rate.

rmse,profit,profit_rate
0.468815,-115641.1,-0.1156411

### Out-of-Sample Estimated Performance

In [7]:
# Partition the data into training (75%) and validation (25%)
# (use set.seed(0) and sample(...) to choose training observations).
# How many observations and variables in the training data?
# How many observations and variables in the validation data?

observations,variables
3228,8
observations,variables
1077,8

In [8]:
# Present the model's out-of-sample estimated RMSE, profit, and profit rate.

rmse,profit,profit_rate
0.5081251,-40986.91,-0.0409869

### 5-Fold Cross-Validation Estimated Performance

In [9]:
# Partition the data into 5 folds (use set.seed(0) and createFolds(...) based on growth).
# Present the first few observation (row) numbers for each of the folds.
#
# You can use the str() function.

List of 5
 $ Fold1: int [1:862] 8 11 16 22 30 32 38 40 41 44 ...
 $ Fold2: int [1:860] 3 9 10 23 26 27 34 39 52 64 ...
 $ Fold3: int [1:862] 2 7 19 29 35 42 53 57 61 62 ...
 $ Fold4: int [1:861] 1 4 5 6 15 17 28 33 36 43 ...
 $ Fold5: int [1:860] 12 13 14 18 20 21 24 25 31 37 ...

In [10]:
# Present the model's estimated RMSE and profit for each fold.

  fold rmse      profit
1 1    0.4446211  -68328.20
2 2    0.4356790  -84359.01
3 3    0.5041439  -83515.95
4 4    0.3998234 -114715.51
5 5    0.5460360   -6010.14

In [11]:
# Present the model's 5-fold cross-validation estimated RMSE, profit, and profit rate.

rmse.cv,profit.cv,profit_rate.cv
0.4660607,-71385.76,-0.0713858

<font size=1;>
<p style="text-align: left;">
Copyright (c) Berkeley Data Analytics Group, LLC
<span style="float: right;">
Document revised June 14, 2020
</span>
</p>
</font>