# Project Part F: Deployment

![](banner_project.jpg)

In [1]:
analyst = "Firstname Lastname" # Replace this with your name

In [2]:
f = "setup.R"; for (i in 1:10) { if (file.exists(f)) break else f = paste0("../", f) }; source(f)
options(repr.matrix.max.rows=674)
options(repr.matrix.max.cols=200)
update_geom_defaults("point", list(size=1))

## Directions

### Objective

Recommend a portfolio of 12 company investments that maximizes 12-month return of an overall \$1,000,000 investment.

### Approach

Retrieve a transformed dataset about public company fundamentals and use it reproduce the construction of a selected model.

Retrieve an investment opportunities dataset, comprising fundamentals for some set of public companies over some one-year period.  Transform the representation of the investment opportunities to match the representation expected by the model, leveraging previous analysis.

Use the model to make predictions about the investment opportunities and accordingly recommend a portfolio of 12 company investments.

## Business Model


The business model is ...

$ \begin{align} profit = \left( \sum_{i \in portfolio} (1 + growth_i) \times allocation_i \right) - budget \end{align} $

<br>

$ profit\,rate = profit \div budget $


$ \begin{align} budget = \sum_{i \in portfolio} allocation_i \end{align} $

<br>

Business model parameters include ...

* Budget = \\$1,000,000: total investment to allocate across the companies in the portfolio
* Portfolio Size = 12: number of companies in the portfolio
* Allocations = \\$1,000,000 $\div$ 12 to each company: investments to allocate to specific companies in the portfolio 

Fill the portfolio with companies that have the highest predicted growths.

In [3]:
# Set the business parameters.

budget = 1000000
portfolio_size = 12
allocation = rep(budget/portfolio_size, portfolio_size)

layout(fmt(budget), fmt(portfolio_size), fmt(allocation))

budget
1000000
portfolio_size
12
allocation
83333.33
83333.33
83333.33
83333.33
83333.33
83333.33
83333.33
83333.33
83333.33
83333.33
83333.33
83333.33

## Data Retrieval

_<< Discuss this data retrieval. >>_

In [4]:
# Retrieve "My Data.csv".  This is the ORIGINAL model training data.

# Present a few rows ...

  gvkey tic  conm                         PC1         PC2        prccq
1 1004  AIR  AAR CORP                       3.4371231 -0.2260719 43.69
2 1045  AAL  AMERICAN AIRLINES GROUP INC  -12.0332067  0.8045109 32.11
3 1050  CECE CECO ENVIRONMENTAL CORP        3.9532234 -0.7553386  6.75
4 1062  ASA  ASA GOLD AND PRECIOUS METALS   3.6561434 -0.7981915  8.66
5 1072  AVX  AVX CORP                       2.9282228 -0.7104200 15.25
6 1075  PNW  PINNACLE WEST CAPITAL CORP     0.3488491  1.1389605 85.20
  growth        big_growth
1  0.0507455507 NO
2 -0.3828560446 NO
3  0.3157894737 YES
4 -0.2164739518 NO
5 -0.1184971098 NO
6  0.0002347969 NO

## Build Model

_<< Discuss this model construction. >>_

In [5]:
# Construct a linear regression model to predict growth given PC1 and PC2, based on the
# ORIGINAL model training data.
# Present a brief summary of the model parameters.

Call:
lm(formula = growth ~ PC1 + PC2, data = data)

Coefficients:
(Intercept)          PC1          PC2
 -0.1185887    0.0002455    0.0006294

## Investment Opportunities

_<< Discuss this handling of investment opportunties. >>_

### Retrieve Data

In [6]:
# Retrieve "Investment Opportunities.csv"
# Present the dataset size ...

  observations variables
1 918          680

### Partition Data by Calendar Quarter 

To partition the dataset by calendar quarter in which information is reported, first add a synthetic variable to indicate such.  Then partition into four new datasets, one for each quarter, and drop the quarter variables. Additionally, filter the observations to include only those with non-missing `prccq`.  Then remove any observations about companies that reported more than once per quarter.  Then change all the variable names (except for the `gvkey`, `tic`, and `conm` variables) by suffixing them with quarter information - e.g., in the Quarter 1 dataset, `prccq` becomes `prccq.q1`, etc.

In [7]:
# Partition the dataset as described.

In [8]:
# Present the sizes of the data partitions

observations,variables
209,680
observations,variables
221,680
observations,variables
227,680
observations,variables
230,680

### Consolidate Data by Company

Consolidate the four quarter datasets into one dataset, with one observation per company that includes variables for all four quarters.  Remove any observations with missing `prccq.q4` values.

In [9]:
# Consolidate the partitions as described.
# How many observations and variables in the resulting dataset?

  observations variables
1 230          2711

### Transform Representation of Data

In [10]:
# Filter the data to include only those variables with at least 80% non-missing values
# in the ORIGINAL model training data.
# How many observations and variables in the resulting dataset? 
#
# You can use the readRDS() function.

  observations variables
1 230          923

In [11]:
# Impute the data using the same imputation values as computed for the ORIGINAL model
# training data. 
# How many observations and variables in the resulting dataset? 
#
# You can use the readRDS() and put_impute() functions.

  observations variables
1 230          923

In [12]:
# Compute principal components using the centroids and weight matrix from the analysis
# of the ORIGINAL model training data.  Apply to only the (numeric and integer) variables
# used in the analysis of the ORIGINAL model training data. 
# How many observations and variables in the resulting dataset? 
#
# You can use the readRDS() and predict() functions.
# You can use rownames(pc$rotation) to get the (numeric and integer) variables.

  observations variables
1 230          737

In [13]:
# Combine and filter datasets as necessary to produce a new datset that includes all investment
# opportunities, but includes only predictor variables stored by previous analysis. 
# How many observations and variables?
# Present the few few observations of the resulting dataset.
#
# You can use the readRDS() function.

  observations variables
1 230          5

  gvkey tic   conm                     PC1       PC2
1 1004  AIR   AAR CORP                  3.472287 -0.08425766
2 1410  ABM   ABM INDUSTRIES INC        2.796849 -0.10000479
3 1562  AMSWA AMERICAN SOFTWARE  -CL A  3.986999 -0.65366925
4 1618  AXR   AMREP CORP                3.642196 -0.56307768
5 1632  ADI   ANALOG DEVICES           -4.313079  0.96351130
6 1686  APOG  APOGEE ENTERPRISES INC    3.491347  0.18518797

## Apply Model

_<< Discuss this application of the model. >>_

### Predict & Make Portfolio Recommendation

In [14]:
# Use the model to predict growths of each investment opportunity.
# Recommend a portfolio of allocations to 12 investment opportunities: gvkey, tic, conm, allocation

gvkey,tic,conm,allocation
23809,AZO,AUTOZONE INC,83333.33
29692,WEBC,WEBCO INDUSTRIES INC,83333.33
3570,CBRL,CRACKER BARREL OLD CTRY STOR,83333.33
63172,FDS,FACTSET RESEARCH SYSTEMS INC,83333.33
64344,MTN,VAIL RESORTS INC,83333.33
178704,ULTA,ULTA BEAUTY INC,83333.33
65430,PLCE,CHILDRENS PLACE INC,83333.33
10549,THO,THOR INDUSTRIES INC,83333.33
3504,COO,COOPER COS INC (THE),83333.33
7921,NDSN,NORDSON CORP,83333.33
1864,REX,REX AMERICAN RESOURCES CORP,83333.33
2807,CASY,CASEYS GENERAL STORES INC,83333.33

### Store Portfolio Recommendation

In [15]:
# Store portfolio recommendation

write.csv(portfolio, paste0(analyst, ".csv"), row.names=FALSE)

### Confirm That Format Is Correct

In [16]:
portfolio.retrieved = read.csv(paste0(analyst, ".csv"), header=TRUE)
opportunities = unique(read.csv("Investment Opportunities.csv", header=TRUE)$gvkey)

columns = all(colnames(portfolio.retrieved) == c("gvkey", "tic", "conm", "allocation"))
companies = all(portfolio.retrieved$gvkey %in% opportunities)
allocations = round(sum(portfolio.retrieved$allocation)) == budget
                         
check = data.frame(analyst, columns, companies, allocations)
fmt(check, "Portfolio Recommendation | Format Check")

analyst,columns,companies,allocations
Firstname Lastname,TRUE,TRUE,TRUE

<font size=1;>
<p style="text-align: left;">
Copyright (c) Berkeley Data Analytics Group, LLC
<span style="float: right;">
Document revised June 21, 2020
</span>
</p>
</font>